@media screen and (min-width: 992px) {
    .toolbar-search-input {
        width: 600px !important;
    }
}

.pf-c-page, body {
    font-family: "Roboto Condensed", sans-serif !important;
}

:root {
    --pf-v5-global--FontFamily--monospace: "Roboto Mono", monospace !important;
}

pre {
    font-size: 1rem;
    overflow: hidden !important;
    line-height: 1.25;
    margin-bottom: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.pf-v5-c-description-list.pf-m-compact {
    --pf-v5-c-description-list--RowGap: 0.5rem !important;
}

.pf-v5-c-tooltip {
    --pf-v5-c-tooltip__content--BackgroundColor: #fff !important;
    --pf-v5-c-tooltip__arrow--BackgroundColor: #fff !important;
    --pf-v5-c-tooltip__content--Color: #151515 !important;
    --pf-v5-c-tooltip--MaxWidth: 25rem !important;
}

.pf-v5-c-switch__input:focus ~ .pf-v5-c-switch__toggle {
    outline: none !important;
    outline-offset: unset !important;
}

.pf-v5-c-switch__input:focus~.pf-v5-c-switch__toggle {
    outline: none !important;
    outline-offset: unset !important;
}