@media screen and (min-width: 992px) {
    .toolbar-search-input {
        width: 600px !important;
    }
}

pre {
    font-size: 1rem;
    overflow: hidden !important;
    line-height: 1.25;
    margin-bottom: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}